body{
    margin:0;
    position:relative;
}
#main-header{
    width:100%;
    height:69px;
    background-color: rgb(54,77,104);
    padding-top:0;
}
.head-content{
    height:69px;
}
.head-left{
    width:50%;
}
.head-righti{
    float:left;
}

.head-leftp{
    position:absolute;
    padding-top: 0;
    float:right;
    padding-left: 215px;
}

.head-rightp{
    float:right;
}
.cright{
    margin-bottom:4px;
}
#content{
    width:100%;
    height:900px;;
}
#floatleft-layout{
    width:200px;
    float:left;
}
/*这里可以很好说明inline和inline-block的区别*/
/*这里很好的说明了浮动解决布局问题，上下对齐方式*/
#floatright-layout{
    width:900px;
    float:left;
}

.bigli,.smallli,.bottle{
    list-style: none;
}
.smallli,.bigli,.bottle{
    padding:0;
}
#today,#last-week,#earlier{
    border-bottom: 1px solid blue;
}
.checkbox{
    border-bottom: 1px solid #cfcfcf
}
.font,.sfont,.xfont{
    font-family: Arial, "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
.sfont{
    padding-left:350px;
    position:relative;
}
.xfont{
    position:absolute;
    padding-left:500px;
}