#today,#last-week,#earlier{
    border-bottom: 1px solid blue;
}
.checkbox{
    border-bottom: 1px solid #cfcfcf
}
.font,.sfont,.xfont{
    font-family: Arial, "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
.sfont{
    padding-left:350px;
    position:relative;
}
.xfont{
    position:absolute;
    padding-left:500px;
}

