body{
    font:normal 100%  "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
}
#container{
    background-color:rgb(242,242,242);
    width:960px;
    height:700px;
    margin:0 auto;
    position:relative;
}
#head-right,#head-left{
    display:inline;   /*float:left会消除行占为，background-image将会消失*/
}
#head-right{
    float:right;
}
.font{
    font-size: 1.5em;
}
#header {
    border-bottom: 2px solid black;
    width: 960px;
}
#h-left-img,#h-left-p{
    float:left;
    margin-top:5px;
    margin-left: 10px;;
}
.status-left,.status-right{
    float:right;
    text-align: center;
    margin: 0 10px;;
}
/*怎么能让竖线不顶格*/
.status-right {
    border-right: 2px solid #cfcfcf;
    height: 50px;
    padding-right: 15px;
}
#content-h{
    height:100px;
}

#content-f{
    text-align: center;
}

.images{
    margin:0;
    width:200px;
    height:150px;
    text-align: center;
    background-color: #ffffff;
    display:inline-block;/*这里背景和图片为什么看起来不融洽呢？中间的小缝隙是怎么回事？*/
}
.images p{
    margin:0;
}
#pagination{
    float:right;/*怎么右边探出框外了？*/
}
.pagination{
    list-style: none;
    display:block;
}
.list-page{
    display:inline;

}
.list-page a{
    display: inline-block;/*这里若没有inline-block,其高度和上下内外边距的是不认的*/
    width:28px;
    height:28px;
    background-color: #cfcfcf;
    border:1px solid #888888;
    font-family: Arial, "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
    font-size: 20px;
    text-align: center;
    margin:-3px;
    color: #ffffff;
    text-decoration: none;

}
.list-page a:hover{
    background-color:#888888;
    text-decoration: none;
}
