body{
    font:normal 100%  "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
}
#container{
    background-color:rgb(242,242,242);
    width:960px;
    height:1000px;
    margin:0 auto;
    position:relative;
}
#head-right,#head-left{
    display:inline;   /*float:left会消除行占为，background-image将会消失*/
}
#head-right{
    float:right;
}
.font{
    font-size: 1.5em;
}
#header {
    border-bottom: 2px solid black;
    width: 960px;
}
#h-left-img,#h-left-p{
    float:left;
    margin-top:5px;
    margin-left: 10px;;
}
.status-left,.status-right{
    float:right;
    text-align: center;
    margin: 0 10px;;
}
/*怎么能让竖线不顶格*/
.status-right {
    border-right: 2px solid #cfcfcf;
    height: 50px;
    padding-right: 15px;
}
#content-h{
    height:100px;
}
#content-f{
    text-align: center;
}
.images{
    margin:10px;
    width:200px;
    height:200px;
    display:inline-block;
}
.images p{
    margin:0;
}
