body{
    font:normal 100%  "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
}
#container{
    background-image:url(../lib/imagesP/back.jpg);
    background-size: cover;
    width:960px;
    margin:0 auto;
    background-attachment: fixed;
    position:relative;
}
#head-right,#head-left{
    display:inline;   /*float:left会消除行占为，background-image将会消失*/
}
#head-right{
    float:right;
}
.font{
    font-size: 1.5em;
}
.line{
    border-bottom: 2px solid  #cfcfcf ;
    max-width: 100%;
    padding-top:20px;
}
#h-left-img,#h-left-p{
    float:left;
    margin-top:5px;
    margin-left: 10px;;
}
.status-left,.status-right{
    float:right;
    text-align: center;
    margin: 0 10px;;
}
.s-line {
    border-right: 2px solid #cfcfcf;
    height: 20px;
    position: absolute;
    right: 38px;
    top: 70px;
}
#content-h{
    height:100px;
}

#content-f{
    box-sizing: border-box;
    text-align: center;
}

.images{
    display: inline-block;
    width:20%;
    margin:5px;
    text-align: center;

}
.images p {
    margin: 0;
}